<header></header>

<nav class="app-toolbar menuShadow">
  <mat-toolbar color="primary">
    <img src="./assets/img/logo-white-letters.png" style="margin:0;width: 135px; color:white;" title="Red Hat" />&nbsp;
    <span flex></span>
    <div fxShow="true" fxHide.lt-md="true" style="margin-left: auto;">
      <label *ngIf="user">{{user.firstName}} {{user.lastName}}</label>
      <button mat-button color="black" routerLink="/app-home-screen">
        <mat-icon>home</mat-icon>Home
      </button>
      <button mat-button color="black" routerLink="/app-accounts-snapshot">
        <mat-icon>account_balance</mat-icon>Snapshot
      </button>
      <button mat-button color="black" routerLink="/app-client-tasks">
        <mat-icon>assignment</mat-icon>Tasks
      </button>
      <button mat-button color="black" routerLink="/app-user-profile">
        <mat-icon>account_circle</mat-icon>Profile
      </button>
    </div>
  </mat-toolbar>
  </nav>

  <!-- <div class="pf-c-page" id="card-view-example">
    <div class="pf-c-page__sidebar">
      <div class="pf-c-page__sidebar-body">
        <nav class="pf-c-nav" id="card-view-example-primary-nav" aria-label="Global">
          <ul class="pf-c-nav__list">
            <li class="pf-c-nav__item">
              <a href="#" class="pf-c-nav__link pf-m-current" aria-current="page">System Panel</a>
            </li>
            <li class="pf-c-nav__item">
              <a href="#" class="pf-c-nav__link">Policy</a>
            </li>
            <li class="pf-c-nav__item">
              <a href="#" class="pf-c-nav__link">Authentication</a>
            </li>
            <li class="pf-c-nav__item">
              <a href="#" class="pf-c-nav__link">Network Services</a>
            </li>
            <li class="pf-c-nav__item">
              <a href="#" class="pf-c-nav__link">Server</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div> -->

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer></footer>
